<html>

<head>
  <meta charset="utf-8">
  <script src="vue.js"></script>
  <script src="marked.js"></script>
  <link rel="stylesheet" type="text/css" href="./guide/style.css" />
</head>

<body>
  <div id="header">
    <span id="menuicon" @click="toggleMenu">&#9776;</span>
    <span>Guide</span>
  </div>

  <div id="main">
    <div id="menu" v-if="showMenu">
      <template v-for="item in menu">
        <menu-item :item="item" :level="1" :file="item.file ? item.file : ''" :location="item.location ? item.location : ''"></menu-item>
      </template>
    </div>

    <div id="content" v-html="testMd">
      morethingasvhdl rvhevanfsdnfaoivdfn oeafoisdn;o ifand ;jsoiafmjoisdaj oif
      <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>      morethign -->
    </div>
  </div>

  <script src="./guide/guide.js"></script>
</body>

</html>