<html>

<head>
  <title>Prayer Partners | Guide</title>
  <meta name="viewport" content="initial-scale=1">
  <meta charset="utf-8">
  <script src="vue.min.js"></script>
  <!-- <script src="marked.js"></script> -->
  <link rel="stylesheet" type="text/css" href="./font-awesome-4.7.0/css/font-awesome.min.css" />
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.4/dist/showdown.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./guide/style.css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38752833-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-38752833-2');
  </script>
</head>

<body>
  <div id="header">
    <span id="menuicon" @click="toggleMenu"><i class="fa fa-bars"></i></span>
    <span>Guide</span>
  </div>

  <div id="main">
    <div id="navmenu" v-if="showMenu">
      <template v-for="item in menu">
        <menu-item :item="item" :level="1" :file="item.file ? item.file : ''"></menu-item>
      </template>
    </div>

    <div id="content">
      <div id="innerContent" v-html="testMd"></div>
      <div id="navbutton">
        <button type="button" @click="goPrev" :style="prevStyle">Previous</button>
        <button type="button" @click="goNext" :style="nextStyle">Next</button>
      </div>
    </div>
  </div>

  <script src="./guide/guide.js"></script>
</body>

</html>