@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', 'Segoe UI Symbol', serif;
  text-align: center;
}

.hide {
  visibility: hidden;
  display: none;
}

button {
  padding: 5px;
}

#global {
  position: fixed;
  z-index: 100;
}

#overlay-holder {
  position: fixed;
  z-index: 50;
}

.signin-overlay,
#about-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.signin-button {
  /*width: 100%;*/
  font-size: 500%;
  cursor: pointer;
  color: #009688;
  transition: color .5s;
}

#signin-facebook:hover {
  color: #4267b2;
}

#signin-google:hover {
  color: #d34836;
}

.close-button,
#close-about {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 150%;
  cursor: pointer;
}

#header {
  width: 100%;
  display: inline-block;
  /*position: fixed;*/
  /*left: 0;*/
  /*top: 0;*/
}

#pagetitle,
#menutoggle {
  display: block;
  padding: 10px;
}

#pagetitle {
  float: left;
}

#menutoggle {
  float: right;
  cursor: pointer;
}

#menu {
  position: absolute;
  right: 5px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #009688;
}

#menu-profile-picture-container {
  width: 50px;
  position: relative;
  /* background-color: white; */
}

#menu-profile-picture {
  width: 50px;
  height: auto;
  display: block;
}

#menu-profile-picture-overlay {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.menu-item-section {
  font-size: 70%;
  color: #009688;
  background-color: #e0f2f1;
}

.menu-item-flex-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-item,
.menu-item-flex-row {
  display: flex;
  padding: 10px;
  text-align: left;
}

.decor-menuitem {
  cursor: pointer;
}

.menu-item {
  flex-direction: column;
}

.friend-invite {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.friend-invite-identity {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.friend-invite-profile-picture {
  width: 50px;
  height: auto;
  display: block;
}

.friend-invite-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.friend-invite-email {
  font-size: 85%;
}

.friend-invite-actions {
  display: flex;
  flex-direction: row;
}

.friend-invite-link,
.friend-invite-accept,
.friend-invite-reject {
  padding: 5px;
  flex-grow: 1;
  text-align: center;
}

.fr-wrapper {
  margin: 10px;
  padding: 5px;
  border: 1px solid #009688;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 105px;
}

.fr-image {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 105px;
}

.fr-image img {
  flex-grow: 1;
  object-fit: contain;
}

.fr-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.fr-actions {
  width: 100%;
  /* max-width: 150px; */
}

.fr-actions button {
  width: 100%;
}

#search-friend-overlay {
  height: 100%;
}

#search-friend-list {
  border: 1px solid #b2dfdb;
  height: 100px;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  align-items: flex-start;
  display: block;
}

#main {
  width: calc(100% - 10px);
  /* height: 1000px; */
  display: inline-block;
  /*background-color: #e0f2f1;*/
  padding-bottom: 5px;
}

.group {
  /*width: 100%;*/
  display: block;
  background-color: #e0f2f1;
  padding: 10px;
}

.group-header {
  display: flex;
}

.group-title {
  text-align: left;
  /*padding: 10px;*/
  flex: 1;
}

.group-action-item {
  padding: 10px;
  cursor: pointer;
}

.section-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  /*width: 30%;*/
  /*height: 200px;*/
  max-width: 100%;
  margin: 10px;
  overflow: auto;
}

.section-head {
  display: flex;
  padding: 5px 0px 5px 5px;
}

.section-title {
  text-align: left;
  flex-grow: 1;
}

.section-action-item {
  cursor: pointer;
  padding: 5px;
}

.section-description {
  background-color: #009688;
  color: #e0f2f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}

.uda-container,
.sd-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uda-img>img,
.sd-img>img {
  width: 70px;
}

.uda-list,
.sd-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding-left: 10px;
}

.uda-list-container
.sd-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.uda-button,
.sd-button {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border: 0.5px solid #e0f2f1;
  border-radius: 3px;
}

.uda-button:hover,
.sd-button:hover {
  color: #009688;
  background-color: #e0f2f1;
}

.section-content {
  display: block;
  overflow: auto;
  max-width: 100%;
}

.section-add-new-wrapper {
  display: flex;
}

.section-add-new {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.section-add-new-text {
  font-size: 150%;
  flex-grow: 1;
}

.item {
  /*width: 100%;*/
}

.item-head {
  display: flex;
  padding: 0px;
  align-items: center;
}

.item-short-desc {
  flex-grow: 1;
  text-align: left;
  padding: 10px 0px;
}

.item-actions {
  display: flex;
  flex-direction: row;
}

.item-long-desc {
  text-align: left;
  background-color: #eeeeee;
  padding: 10px;
  font-size: 90%;
}

.share-list-in-text {
  display: flex;
  color: #009688;
}

.tag-list-in-text {
  display: flex;
}

.user-in-text, .tag-in-text {
  background-color: #B2DFDB;
  padding: 2px 10px;
  color: #009688;
  border-radius: 3px;
  margin: 0px 5px;
}


/*.item-head:hover + .item-long-desc {
  visibility: visible;
  display: block;
}*/

.item-menu {
  padding: 10px;
  cursor: pointer;
}

.item-indicator {
  color: #eeeeee;
  font-size: 80%;
  padding: 10px 5px 10px 10px;
}

.overlay,
.edit-item-overlay,
.share-with-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#signin-overlay {
  flex-direction: column;
}

.overlay-wrapper,
.edit-item-wrapper,
.share-with-wrapper {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* width: 90%; */
}

.overlay-input,
.edit-item-content {
  /*width: 100%;*/
  flex-grow: 1;
}

.overlay-input {
  padding: 10px;
}

.overlay-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#signed-in-display {
  flex-direction: column;
  text-align: left;
}

#signed-in-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#signed-in-display-pic {
  width: 100px;
  height: auto;
}

#signed-in-text {
  text-align: left;
}

#signed-in-idp {
  font-size: 200%;
  cursor: pointer;
}

#signed-in-idp-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account-actions {
  justify-content: center;
}

.account-actions button {
  flex-grow: 1;
}

.edit-item-content {
  resize: vertical;
  padding: 10px;
}

.overlay-label,
.edit-item-overlay-label,
.share-with-overlay-label {
  text-align: left;
}

.overlay-actions,
.edit-item-overlay-actions,
.share-with-overlay-actions {
  text-align: right;
}

.overlay-error {
  padding: 10px;
  margin: 0px 0px 5px 0px;
}

button {
  width: 100px;
}

.share-with-content,
.tags-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.friend-item,
.tag-item {
  width: 30%;
  padding: 5px;
  text-align: left;
}

.friend-item-name,
.tag-item-name {
  padding: 0px 0px 0px 5px;
}

.sep {
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.horizontal-sep {
  margin-left: 5px;
  margin-right: 5px;
}

.loading-icon {
  font-size: 500%;
  animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.toast {
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  max-width: 100%;
}

.toast-content {
  padding: 10px;
}

a,
a:visited {
  display: inline-block;
  padding: 5px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  background-color: #e0f2f1;
}

a:hover {
  color: #e0f2f1;
  background-color: #009688;
}

#about-content {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #b2dfdb;
  padding: 10px;
}

#about-content div {
  padding: 2px;
}

#about-appname {
  font-size: 150%;
}

button {
  background-color: #e0f2f1;
  color: #009688;
  border: 1px solid #009688;
}

button:hover {
  background-color: #009688;
  color: #e0f2f1;
  border: 1px solid #e0f2f1;
}

[type="checkbox"] {
  color: #009688;
}

.decor-header,
.decor-menu {
  background-color: #009688;
  color: #e0f2f1;
}

.decor-menuitem,
.decor-sectionactionitem {
  background-color: #009688;
  color: #e0f2f1;
}

.decor-menuitem:hover,
.decor-sectionactionitem:hover {
  background-color: #b2dfdb;
  color: #009688;
}

.decor-closebutton:hover,
.decor-closeabout:hover {
  background-color: #f44336;
  color: #b2dfdb;
}

.decor-groupheader {
  color: #009688;
}

.decor-groupactionitem:hover {
  background-color: #009688;
  color: #e0f2f1;
}

.decor-section {
  background-color: #ffffff;
}

.decor-sectionhead {
  background-color: #009688;
  color: #e0f2f1;
}

.decor-itemmenu:hover {
  background-color: #009688;
  color: #e0f2f1;
}

.decor-overlay,
.decor-edititemoverlay {
  background-color: rgba(255, 255, 255, 0.95);
  color: #009688;
}


/* .overlay-wrapper {
  background-color: rgba(255, 255, 255, 1);
  color: #009688;
  border: 2px solid #009688;
} */

.decor-overlayerror {
  background-color: #f44336;
  color: #ffffff;
}

.decor-sep {
  background-color: #b2dfdb;
}

.decor-toast-content {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.7;
  border-radius: .2em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#important-notice {
  padding: 5px;
  position: fixed;
  opacity: .5;
  background-color: #E91E63;
  color: #FCE4EC;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
}

#important-notice:hover {
  opacity: 1;
}

.clickable {
  cursor: pointer;
}