@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Share+Tech+Mono');
html {
  font-family: "Roboto Slab", serif;
  color: #009688;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#header {
  background-color: #009688;
  color: #e0f2f1;
  padding: 10px;
  font-size: 130%;
  /* position: sticky; */
  top: 0;
  z-index: 1;
}

#menuicon {
  cursor: pointer;
  margin-right: 5px;
}

#main {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

#content {
  padding: 5px 15px;
}

#navmenu {
  border-right: 1px solid #009688;
  background-color: #009688;
  color: #e0f2f1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.indent {
  display: block;
  width: 5px;
}

.item-head {
  flex-grow: 1;
}

.item-head-row {
  display: flex;
  flex-direction: row;
  padding: 5px;
  cursor: pointer;
  align-items: center;
}

.levellight {
  background-color: #e0f2f1;
  color: #009688;
}

#content {
  flex-grow: 1;
}

@media screen and (max-width: 800px) {
  #navmenu {
    position: absolute;
    left: 0;
  }
}

#navbutton {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #e0f2f1;
  color: #009688;
  border: 1px solid #009688;
  padding: 10px;
}

button:hover {
  background-color: #009688;
  color: #e0f2f1;
  border: 1px solid #e0f2f1;
}

a,
a:visited {
  text-decoration: none;
  color: #009688;
  font-weight: bold;
  border-bottom: 1px dashed #009688;
}

a:hover {
  border-top: 1px dashed #009688;
}

#signinbutton,
.listhead,
.actions {
  display: inline-block;
  padding: 10px;
}

#signinbutton {
  background-color: #009688;
  color: #e0f2f1;
}

.listhead {
  background-color: #009688;
  color: #e0f2f1;
}

.actions {
  background-color: #ffffff;
  color: #000;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #e0f2f1;
  padding: 5px;
}

.key {
  font-family: "Share Tech Mono", monospace;
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 1px 1px 1px #009688;
}